{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>

    {{ content.article|raw }}

    {% include 'includes/blocks.html.twig' with {
        content: {blocks: content.blocks},
        view: {blocks: view.blocks},
    } only %}
{% endblock %}
