<h2>{{ content.title }}</h2>

{{ content.article|raw }}

{% for image in content.images %}
    <img src="{{ image.formats['300x'] }}" title="{{ image.description|default(image.title) }}" alt="{{ image.title }}"/>
{% endfor %}
