{% for block in content.blocks|default([]) %}
    <section>
        {% include "includes/block-types/#{block.type}.html.twig" with {
            content: block,
            view: view.blocks[loop.index0],
        } only %}
    </section>
{% endfor %}
